<div id="projDescription">
    <nav>    
        {{>loop}}
    </nav>
    <div id="content">
        <img src='/{{pDirectory}}/thumpnail.png'>
        <h3>{{pName}}</h3>
        <p>{{pDescription}}</p>
        <a href="/{{pDirectory}}">Go To Project</a>
    </div>
</div>
