body {
    margin: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: brown;
    overflow: hidden;
}

nav {
    height: 100%;
    display: flex;
    flex-flow: column;
    width: 170px;
    color: inherit;
}

.nav {
    margin: 5px 0;
}

.highlight {
    background-color: green;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: green;
}

nav img {
    visibility: hidden;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 35px;
    margin: 0;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

footer {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    bottom: 0;
}

.welcome {
    display: flex;
}

.card {
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    margin: 10px;
    border-radius: 5px;
}

.card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px;
}

.card h3 {
    font-size: 40px;
    margin: 0;
}

.card a {
    color: inherit;
    text-decoration: none;
}

#content {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    margin-left: 30px;
}

#content h3 {
    font-size: 40px;
    margin: 0;
}

#content a {
    color: inherit;
    text-decoration: none;
}

#content a:hover {
    color: green;
}

#projDescription img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: left;
    border-radius: 10px;
}

#projDescription {
    display: flex;
    justify-content: flex-start;
}
