body {
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

nav {
    height: 100%;
    display: flex;
    flex-flow: column;
    width: 500px;
}

nav img {
    visibility: hidden;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

footer {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    bottom: 0;
}

.card {
    width: 150px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    margin: 10px;
}

.card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 5px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#content img {
    width: 500px;
    object-fit: contain;
}

#projDescription {
    display: flex;
    justify-content: flex-start;
}
