body {
    box-sizing: border-box;
    margin: 0;
}

#inputArea {
    background-color: blue;
}

#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.repoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 250px;
    width: 250px;
}

.avatarImg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 125px;
    margin-bottom: 10px;
}

#showCommits {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    height: 400px;
    width: 500px;
}
