#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-150px, -250px);
    border: 1px solid lightgrey;
    display: none;
}

#canvasMover {
    border: 2px dotted lightgrey;
}
