* {
    box-sizing: border-box;
}

img {
    height: 400px;
    width: 600px;
    user-select: none;
    -moz-user-select: none;
}

.container {
    position: relative;
    border: 5px solid green;
    width: 610px;
    height: 410px;
}

.top-image {
    position: absolute;
    overflow: hidden;
    z-index: 5;
    /* change width with javascript */
    width: 305px;
    /* user-select: none;
    -moz-user-select: none; */
}

.bottom-image {
    position: absolute;
    /* user-select: none;
    -moz-user-select: none; */
}

.bar {
    display: flex;
    align-items: center;
    position: absolute;
    height: 400px;
    width: 10px;
    background-color: green;
    z-index: 10;
    /* change width with javascript */
    left: 305px;
}
